altair==4.2.2
pandas==2.0.1
plotly==5.14.1
pymongo==4.3.3
isodate==0.6.1
matplotlib==3.6.3
streamlit==1.22.0
wordcloud==1.8.2.2
streamlit_extras==0.2.7
streamlit_lottie==0.0.3
mysql-connector-python==8.0.33
google-api-python-client==2.87.0